<ion-tabs class="tabs-icon-top " style="background-color: #0a9dc7" ng-controller="MainCtrl" ng-class={'tabs-item-hide':hideTabs}>

  <ion-tab   title="Offer" href="#/tab/offer">
    <ion-nav-view name="tab-offer">

    </ion-nav-view>
  </ion-tab>

  <ion-tab   title="Dcc" href="#/tab/dcc">
    <ion-nav-view name="tab-dcc">

    </ion-nav-view>
  </ion-tab>

  <ion-tab   title="Billing" href="#/tab/billing">
    <ion-nav-view name="tab-billing">

    </ion-nav-view>
  </ion-tab>

  <ion-tab   title="Allowance" href="#/tab/allowance">
    <ion-nav-view name="tab-allowance">

    </ion-nav-view>
  </ion-tab>

  <tabs-menu bg-image="./img/tabbar.png" normal-color="#F00" select-color="#ff0" action="cli()" >
    <tab-item title="北京"  normal-src="./img/menu.png" select-src="./img/meeting.png"></tab-item>
    <tab-item title="上海" normal-src="./img/menu.png" select-src="./img/meeting.png"></tab-item>
    <tab-item title="广州" normal-src="./img/menu.png" select-src="./img/meeting.png"></tab-item>
    <tab-item title="东莞" normal-src="./img/menu.png" select-src="./img/meeting.png"></tab-item>
  </tabs-menu>
</ion-tabs>






